@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  /* padding: 1em;
   */
   background-color: whitesmoke;
   border-radius:10px;
   width: 3px;
   height: 20px;
}
/* body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("sanjay.jpg") center / cover no-repeat;
  opacity: 0.3;  
  z-index: -1;
} */
body {
  background-color: #11061f;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  /* height: 4rem; */
  background-color: #1A0B2E;
  display: flex;
  justify-content: center;
}

ul {
  width:60%;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  color: white;
  margin-bottom: 12px;
}
a button{
  transition: 1s;
}
ul button {
  background: repeating-linear-gradient(
    rgba(220, 218, 238, 0.5),
    rgba(146, 69, 111, 0.6)
  );
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 60%;
  padding-bottom: 10vh;
}

section {
  background-color: rgba(30, 29, 42, 0.5);
}
.Home {
  margin: 80px 28px 28px 28px;
  color: rgb(198, 203, 208);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  max-width: 1000px;
}

.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 15vw;
  border-radius: 50%;
}
.profile img:hover {
  /* width: 15vw;
  border: 0.2em solid transparent;
  border-radius: 50%; */
  cursor: none  ;
  box-shadow: 0px 0px 20px 5px rgb(83, 106, 129)
}
.profile span {
  margin-left: 30px;
  font-size: 30px;
  line-height: 1.2;
}

.box2 {
  display: flex;
}
.box2 .h{
  max-width: 860px;
}
.box2 button{
  margin-top: 0px;
  width:190px;
}

.contect {
  background-color: #080909;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.box {
  margin: 30px;
  text-align: center;
  width: 30%;
  color: white;
}

.box h3 {
  color: rgb(98, 112, 124);
}

.sms {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sms label {
  margin-top: 10px;
}
button:hover{
  background-color: aqua;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  border-radius: 5px;
}

input {
  height: 40px;
  padding:0px 4px;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: rgb(64, 188, 64);
  /* cursor: pointer; */
  width: 100%;
}

button:active {
  background-color: rgb(47, 29, 189);
  color: white;
}

/* FOOTER */
footer {
  background-color: #1b1a1b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 110px;
}

.ids {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  font-size: 30px;
}

a {
  color: white;
  text-decoration: none;
}

.ids span {
  padding: 0 5px;
}

.ids span:hover {
  border-radius: 5px;
  background-color: white;
}

.ids span:hover i,
.ids span:hover a {
  color: black;
}
.madeby {
  margin: 20px 0px;
}
.madeby:hover{
  cursor: not-allowed;
}
.allproject{
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap:20px;
}
.project img{
  margin-top: 5px;
  max-width: 300px;
  border-radius: 10px;
  height: 180px;
  width: max-content;
}
.project .img img{
  width: 100%;
  object-fit: contain;
}
.project:hover, .skillbox:hover{
  cursor:not-allowed ;
  box-sizing:border-box;
  box-shadow:
    0px 0px 10px 8px rgb(49, 111, 173);
}
.content{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.content p{
  padding-top: 10px;
  font-size: x-small;
  height: 70px;
  overflow-y: scroll;
  /* scr */
}
.project{
  border: 1px solid rgb(255, 0, 217);
  border-radius: 20px;
  background-color: #1A0B2E;
  width: 320px;
  height: 380px;
  padding: 8px;
}
.heading{
  color: white;
}
#skills .Home{
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
}
.skillbox {
  border: 1px solid rgb(255, 0, 217);
  border-radius: 20px;
  background-color: #1A0B2E;
  max-width: 400px;
  padding:20px;
  box-sizing: border-box;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.skill1{
  border: 0.5px solid white;
  border-radius: 10px;
  padding:5px 10px;
  display: flex;
  align-items: center;
  background-color: rgba(147, 143, 214, 0.4);
  /* gap: 5px; */
}
.skill1 img{
  width: 30px;
  border-radius: 4px;
}
.skill2{
  background-color: rgba(147, 143, 214, 0.4);
  /* opacity: 0.6; */
  align-self: center;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  color: rgb(180, 243, 255);
  border: 0.5px solid white;
}
.contectbox h1{
  margin-bottom: 40px;
}
.contectbox p{
  margin-top: 20px;
  width: fit-content;
}
.contectbox .email:hover{
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width:550px){
  header ul{
    width: 95%;
  }
  header ul li button{
    margin: 7px 4px;
    padding: 5px 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
  
  .profile {
    flex-direction: column;
    text-align: center;
  }
  
  .profile img {
    width: 60%;
    box-shadow: 0px 0px 20px 5px rgb(83, 106, 129)
  }
  
  .profile span {
    margin: 20px 0 0 0;
    font-size: 22px;
  }
  
  .contect {
    flex-direction: column;
    align-items: center;
  }
  
  .box {
    width: 90%;
    margin: 20px 0;
    font-size: 14px;
  }
  .box2{
    flex-direction: column;
  }
  .h{
    align-self:center;
  }
  .h button{
    margin-top: 10px;
  }
}

@media screen and (min-width: 577px) and (max-width: 900px) {
  .container {
    width: 80%;
  }

  .box {
    width: 45%;
  }
}

@media screen and (min-width: 901px) {
  .container {
    width: 60%;
  }

  .box {
    width: 25%;
  }
}
@media screen and (min-width:550px) and (max-width:1000px){
  header ul{
    width: 100%;
    padding:0px 25px;
  }
}