@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&family=Poppins:ital,wght@1,200&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11061f;
  font-family: "Poppins", sans-serif;
}

header {
  height: 4rem;
  background-color: #1A0B2E;
  display: flex;
  align-items: center;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  color: white;
}

ul button {
  background: repeating-linear-gradient(
    rgba(28, 9, 244, 0.5),
    rgba(146, 69, 111, 0.6)
  );
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 60%;
  padding-bottom: 10vh;
}

.Home {
  margin: 80px 28px 28px 28px;
  color: rgb(198, 203, 208);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  max-width: 1000px;
}

.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 21vw;
  border: 0.2em solid transparent;
  border-radius: 50%;
}
.profile span {
  margin-left: 30px;
  font-size: 30px;
  line-height: 1.2;
}
.contect {
  background-color: #080909;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.box {
  margin: 30px;
  text-align: center;
  width: 30%;
  color: white;
}

.box h3 {
  color: rgb(98, 112, 124);
}

.sms {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sms label {
  margin-top: 10px;
}

input,
textarea {
  outline: none;
  border-radius: 5px;
}

input {
  height: 30px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: rgb(64, 188, 64);
  cursor: pointer;
}

button:active {
  background-color: rgb(47, 29, 189);
  color: white;
}

/* FOOTER */
footer {
  background-color: #1b1a1b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100px;
}

.ids {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  font-size: 30px;
}

a {
  color: white;
  text-decoration: none;
}

.ids span {
  padding: 0 5px;
}

.ids span:hover {
  border-radius: 5px;
  background-color: white;
}

.ids span:hover i,
.ids span:hover a {
  color: black;
}
.allproject{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.project img{
  margin-top: 5px;
  width:80px;
}
.content{
  margin-left: 10px;
}
.project{
  border: 2px solid rgb(255, 0, 217);
  border-radius: 20px;
  display: flex;
  max-width: 450px;
  min-width: 300px;
  margin: 20px;
  padding: 8px;
}
hr{
  color: white;
}
@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }

  .profile {
    flex-direction: column;
    text-align: center;
  }

  .profile img {
    width: 60%;
  }

  .profile span {
    margin: 20px 0 0 0;
    font-size: 22px;
  }

  .contect {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
    margin: 20px 0;
    font-size: 14px;
  }
}

/* 📱 Tablet */
@media screen and (min-width: 577px) and (max-width: 900px) {
  .container {
    width: 80%;
  }

  .box {
    width: 45%;
  }
}

/* 💻 Desktop */
@media screen and (min-width: 901px) {
  .container {
    width: 60%;
  }

  .box {
    width: 30%;
  }
}
